body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 768px) {
    body {
        background: url('background.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    body {
        background: url('background.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
}

form {
    margin-bottom: 30px;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 10px;
}

label:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.status {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#albums {
    margin-top: 30px;
}

.album-link {
    display: block;
    margin-bottom: 15px;
}

.album-button {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.album-button:hover {
    background-color: #138496;
    transform: scale(1.05);
}

.album-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
